@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400&display=swap');

/*
definindo variáveis de cores para um tema claro e um tema escuro

ROOT refere-se ao elemento raiz do documento HTML

seletor :root define as variáveis globais

Isso oferece uma maneira flexível de definir valores
que podem ser reutilizados em todo o seu CSS e facilmente atualizados de um único lugar.
*/

:root, :root [data-theme='dark'] {
  --primary-color: #F0F0F0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292E;
  --primary-border-color: #28292E;
  --secondary-border-color: #56575A;

  --title-color: #F0F0F0;
  --text-color: #9A9A9C;
  --link-color: #9A9A9C;
  --icon-color: #C7C8C9;
}

:root, :root [data-theme='light'] {
  --primary-color: #F0F0F0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #C7C8C9;
  --primary-border-color: #C7C8C9;
  --secondary-border-color: #9A9A9C;

  --title-color: #0B0B0F;
  --text-color: #28292E;
  --link-color: #28292E;
  --icon-color: #56575A;
}


html [data-theme=´light] .brand-logo {
  filter: invert(1);
}

html [data-theme=´light] .tecnologias-logo {
  filter: invert(80%);
}

/* (*) reset do CS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-bg-color) transparent;
}

body {
  background: var(--primary-bg-color);
  font-family:'Inter', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

#header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  z-index: 2;
}

.header-logo .logo{
  width: 3.25rem;
  height: 3.25rem;

}

.header-toggle {
  display: flex;
  justify-content: flex-end;
}

#toggleTheme {
  font-size: 1.5rem;
  color: var(--icon-color);
  cursor: pointer;
  transition: ease-in-out .4s;  
}

.menu {
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
}

.menu-item {
  width: 100%;
}

.menu-link {
  display: flex;
  align-items: center;
  gap: .5rem;
}


.menu-mobile {
  width: 100vw;
  position: fixed ;
  bottom: 0;
  justify-content: space-between;
  border-top: 1px solid var(--primary-border-color);

}

.menu-mobile .menu-link {
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1rem;

}

.menu-link.active .menu-icon,
.menu-link.active .menu0-text,
.menu-link.active .menu-icon,
.menu-link.active .menu-text {
  color: var(--primary-bg-color);